{{> js/home}}
{{> css/home}}
{{#if messages.success}}
<div class="d-flex justify-content-end alert alert-success" role="alert">
    {{messages.success}}
</div>
{{/if}}

<div class="container-fluid outer-container position-relative p-0">
    <div class="all-movies">
        <div class="overlay-left invisible"></div>

        <div class="suggested-movie noscroll">
            <div class="overlay-top"></div>
            <div>
                {{!-- <img src="https://image.tmdb.org/t/p/original/1pdfLvkbY9ohJlCjQH2CZjjYVvJ.jpg" alt="" width="100%"
                    style="height: 50vw;"> --}}
                <div class="noscroll" style="width: 100%; margin: 0">
                    <video id="video" width="100%" autoplay loop height="100%"
                        style="height: 50vw; transform: scaleX(1.15)">
                        <source src="https://file.garden/ZfpCIAeKR2HIs_bB/movies/trailer.mp4" type="video/mp4">
                        Your browser does not support the video tag.
                    </video>
                </div>

                <div class="position-absolute w-100 left-0 ms-4" style="top: 45%;">
                    <h1 class="text-light w-50" style="font-size: 4rem;">
                        COOKIE RUN: KINGDOM
                    </h1>

                    <p class="text-light mt-2" style="width: 35%;">
                        Lorem ipsum, dolor sit amet consectetur
                        adipisicing elit.
                        Dolore
                        debitis quas
                        sapiente alias sit obcaecati dolorum placeat, expedita at, assumenda architecto suscipit,
                        aliquid ullam explicabo! Nihil fugit ex provident quia.
                    </p>

                    <div class="d-flex mt-5 z-3 position-relative">
                        <div class="bg-light fs-5 px-5 py-1 rounded text-dark d-flex justify-content-center align-items-center play-video hover-fade"
                            style="width: fit-content; cursor: pointer;">
                            <i class="fa-solid fa-play fs-4 me-2" style="line-height: normal"></i>
                            <p class="m-0"><strong>Play</strong></p>
                        </div>

                        <div class="bg-secondary bg-opacity-50 fs-5 px-5 py-1 rounded text-dark ms-2 d-flex justify-content-center align-items-center open-movie-details hover-fade"
                            style="width: fit-content; cursor: pointer;">
                            <i class="fa-solid fa-circle-info text-light fs-4 me-2" style="line-height: normal"></i>
                            <p class="text-light m-0"><strong>More Info</strong></p>
                        </div>

                        <div class="rounded-circle ms-auto d-flex justify-content-center align-items-center align-self-center border border-3 border-light p-1 volumn" style="line-height: normal;">
                            <i class="fa-solid fa-volume-high fs-4 text-light turn-on-volumn d-none"></i>
                            <i class="fa-solid fa-volume-xmark fs-4 text-light turn-off-volumn"></i>
                        </div>

                        <div class="ps-3 pb-1 pe-5 ms-3 bg-dark bg-opacity-75 border-start border-3 border-light">
                            <p class="fs-3 m-0 pe-5">13+</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="overlay-bottom"></div>
        </div>

        <div class="movie-carousel p-4">
            <h2 class="mb-3">Popular Movies</h2>
            <div id="carouselExampleIndicators" class="carousel slide">
                <div class="carousel-inner full-carousel">
                    {{#each popular_movies}}
                    <div {{#if @first}}class="carousel-item active" {{else}}class="carousel-item" {{/if}}>
                        <div class="d-flex justify-content-center align-items-center place-6-movies">
                            {{#each this.list6Movies}}
                            <div class="movie-hoverred ms-1 {{#if @last}}me-1{{/if}}">
                                <img src="https://image.tmdb.org/t/p/original/{{this.poster_path}}"
                                    class="d-block rounded-top thumbnail" alt="..." data-title="{{this.original_title}}" data-overview="{{this.overview}}">
                                <div class="d-none run-video-when-hovering">
                                    <video width="100%" height="100%" style="object-fit: cover;">
                                        <source src="https://file.garden/ZfpCIAeKR2HIs_bB/movies/trailer.mp4"
                                            type="video/mp4">
                                        Your browser does not support the video tag.
                                    </video>
                                </div>
                                <div class="movie-actions bg-black p-2 d-none rounded-bottom">
                                    <div class="option-list d-flex">
                                        <div
                                            class="bg-light rounded-circle me-2 d-flex justify-content-center align-items-center play-video hover-fade">
                                            <i class="fa-solid fa-play text-dark"></i>
                                        </div>
                                        <div
                                            class="bg-dark rounded-circle me-2 d-flex justify-content-center align-items-center border border-2">
                                            <i class="fa-solid fa-plus"></i>
                                        </div>
                                        <div
                                            class="bg-dark rounded-circle me-2 d-flex justify-content-center align-items-center border border-2">
                                            <i class="fa-solid fa-thumbs-up"></i>
                                        </div>
                                        <div
                                            class="bg-dark rounded-circle d-flex justify-content-center align-items-center ms-auto border border-2 open-movie-details">
                                            <i class="fa-solid fa-chevron-down"></i>
                                        </div>
                                    </div>
                                    <p class="text-success fw-bold m-0 mt-2 mb-2 match">82% Match</p>
                                    <div
                                        class="d-flex justify-content-start align-items-center m-0 small-info-of-movie">
                                        <div class="border border-1 m-0">
                                            {{#if this.adult}}
                                            <p class="m-0 ps-1 pe-1">18+</p>
                                            {{else}}
                                            <p class="m-0 ps-1 pe-1">13+</p>
                                            {{/if}}
                                        </div>
                                        <p class="m-0 ms-2 movie-runtime">{{this.runtime}}</p>
                                        <div class="border border-2 rounded m-0 ms-2">
                                            <p class="m-0 ps-1 pe-1 fw-bold">HD</p>
                                        </div>
                                        <div class="m-0 ms-2 d-flex align-items-center">
                                            <i class="fa-solid fa-podcast fs-5"></i>
                                            <div class="spatial-audio">
                                                <p class="fw-bold m-0 ms-1">Spatial</p>
                                                <p class="m-0 ms-1 lh-1">Audio</p>
                                            </div>
                                        </div>
                                    </div>

                                    <div
                                        class="d-flex justify-content-start flex-wrap mt-2 align-items-center movie-categories">
                                        {{#each this.genres}}
                                        {{#if @first}}
                                        <p class="text-light m-0 all-genre">{{this.name}}</p>
                                        {{else}}
                                        <div class="m-0 bg-secondary rounded ms-2"></div>
                                        <p class="text-light m-0 ms-2 all-genre">{{this.name}}</p>
                                        {{/if}}
                                        {{/each}}
                                    </div>
                                </div>
                            </div>
                            {{/each}}
                        </div>
                    </div>
                    {{/each}}
                </div>
                <button class="carousel-control-prev bg-secondary rounded-start next-prev-button" type="button"
                    data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next bg-secondary rounded-end next-prev-button" type="button"
                    data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>

        <div class="movie-carousel p-4">
            <h2 class="mb-3">Now Playing Movies</h2>
            <div id="carouselExampleIndicators2" class="carousel slide">
                <div class="carousel-inner full-carousel">
                    {{#each now_playing_movies}}
                    <div {{#if @first}}class="carousel-item active" {{else}}class="carousel-item" {{/if}}>
                        <div class="d-flex justify-content-center align-items-center place-6-movies">
                            {{#each this.list6Movies}}
                            <div class="movie-hoverred ms-1 {{#if @last}}me-1{{/if}}">
                                <img src="https://image.tmdb.org/t/p/original/{{this.poster_path}}"
                                    class="d-block rounded-top thumbnail" alt="..." data-title="{{this.original_title}}" data-overview="{{this.overview}}">
                                <div class="d-none run-video-when-hovering">
                                    <video width="100%" height="100%" style="object-fit: cover;">
                                        <source src="https://file.garden/ZfpCIAeKR2HIs_bB/movies/trailer.mp4"
                                            type="video/mp4">
                                        Your browser does not support the video tag.
                                    </video>
                                </div>
                                <div class="movie-actions bg-black p-2 d-none rounded-bottom">
                                    <div class="option-list d-flex">
                                        <div
                                            class="bg-light rounded-circle me-2 d-flex justify-content-center align-items-center play-video hover-fade">
                                            <i class="fa-solid fa-play text-dark"></i>
                                        </div>
                                        <div
                                            class="bg-dark rounded-circle me-2 d-flex justify-content-center align-items-center border border-2">
                                            <i class="fa-solid fa-plus"></i>
                                        </div>
                                        <div
                                            class="bg-dark rounded-circle me-2 d-flex justify-content-center align-items-center border border-2">
                                            <i class="fa-solid fa-thumbs-up"></i>
                                        </div>
                                        <div
                                            class="bg-dark rounded-circle d-flex justify-content-center align-items-center ms-auto border border-2 open-movie-details">
                                            <i class="fa-solid fa-chevron-down"></i>
                                        </div>
                                    </div>
                                    <p class="text-success fw-bold m-0 mt-2 mb-2 match">82% Match</p>
                                    <div
                                        class="d-flex justify-content-start align-items-center m-0 small-info-of-movie">
                                        <div class="border border-1 m-0">
                                            {{#if this.adult}}
                                            <p class="m-0 ps-1 pe-1">18+</p>
                                            {{else}}
                                            <p class="m-0 ps-1 pe-1">13+</p>
                                            {{/if}}
                                        </div>
                                        <p class="m-0 ms-2 movie-runtime">{{this.runtime}}</p>
                                        <div class="border border-2 rounded m-0 ms-2">
                                            <p class="m-0 ps-1 pe-1 fw-bold">HD</p>
                                        </div>
                                        <div class="m-0 ms-2 d-flex align-items-center">
                                            <i class="fa-solid fa-podcast fs-5"></i>
                                            <div class="spatial-audio">
                                                <p class="fw-bold m-0 ms-1">Spatial</p>
                                                <p class="m-0 ms-1 lh-1">Audio</p>
                                            </div>
                                        </div>
                                    </div>

                                    <div
                                        class="d-flex justify-content-start flex-wrap mt-2 align-items-center movie-categories">
                                        {{#each this.genres}}
                                        {{#if @first}}
                                        <p class="text-light m-0 all-genre">{{this.name}}</p>
                                        {{else}}
                                        <div class="m-0 bg-secondary rounded ms-2"></div>
                                        <p class="text-light m-0 ms-2 all-genre">{{this.name}}</p>
                                        {{/if}}
                                        {{/each}}
                                    </div>
                                </div>
                            </div>
                            {{/each}}
                        </div>
                    </div>
                    {{/each}}
                </div>
                <button class="carousel-control-prev bg-secondary rounded-start p-1 next-prev-button" type="button"
                    data-bs-target="#carouselExampleIndicators2" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next bg-secondary rounded-end p-1 next-prev-button" type="button"
                    data-bs-target="#carouselExampleIndicators2" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>

        <div class="movie-carousel p-4">
            <h2 class="mb-3">Upcoming Movies</h2>
            <div id="carouselExampleIndicators4" class="carousel slide">
                <div class="carousel-inner full-carousel">
                    {{#each upcoming_movies}}
                    <div {{#if @first}}class="carousel-item active" {{else}}class="carousel-item" {{/if}}>
                        <div class="d-flex justify-content-center align-items-center place-6-movies">
                            {{#each this.list6Movies}}
                            <div class="movie-hoverred ms-1 {{#if @last}}me-1{{/if}}">
                                <img src="https://image.tmdb.org/t/p/original/{{this.poster_path}}"
                                    class="d-block rounded-top thumbnail" alt="..." data-title="{{this.original_title}}" data-overview="{{this.overview}}">
                                <div class="d-none run-video-when-hovering">
                                    <video width="100%" height="100%" style="object-fit: cover;">
                                        <source src="https://file.garden/ZfpCIAeKR2HIs_bB/movies/trailer.mp4"
                                            type="video/mp4">
                                        Your browser does not support the video tag.
                                    </video>
                                </div>
                                <div class="movie-actions bg-black p-2 d-none rounded-bottom">
                                    <div class="option-list d-flex">
                                        <div
                                            class="bg-light rounded-circle me-2 d-flex justify-content-center align-items-center play-video hover-fade">
                                            <i class="fa-solid fa-play text-dark"></i>
                                        </div>
                                        <div
                                            class="bg-dark rounded-circle me-2 d-flex justify-content-center align-items-center border border-2">
                                            <i class="fa-solid fa-plus"></i>
                                        </div>
                                        <div
                                            class="bg-dark rounded-circle me-2 d-flex justify-content-center align-items-center border border-2">
                                            <i class="fa-solid fa-thumbs-up"></i>
                                        </div>
                                        <div
                                            class="bg-dark rounded-circle d-flex justify-content-center align-items-center ms-auto border border-2 open-movie-details">
                                            <i class="fa-solid fa-chevron-down"></i>
                                        </div>
                                    </div>
                                    <p class="text-success fw-bold m-0 mt-2 mb-2 match">82% Match</p>
                                    <div
                                        class="d-flex justify-content-start align-items-center m-0 small-info-of-movie">
                                        <div class="border border-1 m-0">
                                            {{#if this.adult}}
                                            <p class="m-0 ps-1 pe-1">18+</p>
                                            {{else}}
                                            <p class="m-0 ps-1 pe-1">13+</p>
                                            {{/if}}
                                        </div>
                                        <p class="m-0 ms-2 movie-runtime">{{this.runtime}}</p>
                                        <div class="border border-2 rounded m-0 ms-2">
                                            <p class="m-0 ps-1 pe-1 fw-bold">HD</p>
                                        </div>
                                        <div class="m-0 ms-2 d-flex align-items-center">
                                            <i class="fa-solid fa-podcast fs-5"></i>
                                            <div class="spatial-audio">
                                                <p class="fw-bold m-0 ms-1">Spatial</p>
                                                <p class="m-0 ms-1 lh-1">Audio</p>
                                            </div>
                                        </div>
                                    </div>

                                    <div
                                        class="d-flex justify-content-start flex-wrap mt-2 align-items-center movie-categories">
                                        {{#each this.genres}}
                                        {{#if @first}}
                                        <p class="text-light m-0 all-genre">{{this.name}}</p>
                                        {{else}}
                                        <div class="m-0 bg-secondary rounded ms-2"></div>
                                        <p class="text-light m-0 ms-2 all-genre">{{this.name}}</p>
                                        {{/if}}
                                        {{/each}}
                                    </div>
                                </div>
                            </div>
                            {{/each}}
                        </div>
                    </div>
                    {{/each}}
                </div>
                <button class="carousel-control-prev bg-secondary rounded-start p-1 next-prev-button" type="button"
                    data-bs-target="#carouselExampleIndicators4" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next bg-secondary rounded-end p-1 next-prev-button" type="button"
                    data-bs-target="#carouselExampleIndicators4" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>

        <div class="movie-carousel p-4">
            <h2 class="mb-3">Top Rated Movies</h2>
            <div id="carouselExampleIndicators5" class="carousel slide">
                <div class="carousel-inner full-carousel">
                    {{#each top_rated_movies}}
                    <div {{#if @first}}class="carousel-item active" {{else}}class="carousel-item" {{/if}}>
                        <div class="d-flex justify-content-center align-items-center place-6-movies">
                            {{#each this.list6Movies}}
                            <div class="movie-hoverred ms-1 {{#if @last}}me-1{{/if}}">
                                <img src="https://image.tmdb.org/t/p/original/{{this.poster_path}}"
                                    class="d-block rounded-top thumbnail" alt="..." data-title="{{this.original_title}}" data-overview="{{this.overview}}">
                                <div class="d-none run-video-when-hovering">
                                    <video width="100%" height="100%" style="object-fit: cover;">
                                        <source src="https://file.garden/ZfpCIAeKR2HIs_bB/movies/trailer.mp4"
                                            type="video/mp4">
                                        Your browser does not support the video tag.
                                    </video>
                                </div>
                                <div class="movie-actions bg-black p-2 d-none rounded-bottom">
                                    <div class="option-list d-flex">
                                        <div
                                            class="bg-light rounded-circle me-2 d-flex justify-content-center align-items-center play-video hover-fade">
                                            <i class="fa-solid fa-play text-dark"></i>
                                        </div>
                                        <div
                                            class="bg-dark rounded-circle me-2 d-flex justify-content-center align-items-center border border-2">
                                            <i class="fa-solid fa-plus"></i>
                                        </div>
                                        <div
                                            class="bg-dark rounded-circle me-2 d-flex justify-content-center align-items-center border border-2">
                                            <i class="fa-solid fa-thumbs-up"></i>
                                        </div>
                                        <div
                                            class="bg-dark rounded-circle d-flex justify-content-center align-items-center ms-auto border border-2 open-movie-details">
                                            <i class="fa-solid fa-chevron-down"></i>
                                        </div>
                                    </div>
                                    <p class="text-success fw-bold m-0 mt-2 mb-2 match">82% Match</p>
                                    <div
                                        class="d-flex justify-content-start align-items-center m-0 small-info-of-movie">
                                        <div class="border border-1 m-0">
                                            {{#if this.adult}}
                                            <p class="m-0 ps-1 pe-1">18+</p>
                                            {{else}}
                                            <p class="m-0 ps-1 pe-1">13+</p>
                                            {{/if}}
                                        </div>
                                        <p class="m-0 ms-2 movie-runtime">{{this.runtime}}</p>
                                        <div class="border border-2 rounded m-0 ms-2">
                                            <p class="m-0 ps-1 pe-1 fw-bold">HD</p>
                                        </div>
                                        <div class="m-0 ms-2 d-flex align-items-center">
                                            <i class="fa-solid fa-podcast fs-5"></i>
                                            <div class="spatial-audio">
                                                <p class="fw-bold m-0 ms-1">Spatial</p>
                                                <p class="m-0 ms-1 lh-1">Audio</p>
                                            </div>
                                        </div>
                                    </div>

                                    <div
                                        class="d-flex justify-content-start flex-wrap mt-2 align-items-center movie-categories">
                                        {{#each this.genres}}
                                        {{#if @first}}
                                        <p class="text-light m-0 all-genre">{{this.name}}</p>
                                        {{else}}
                                        <div class="m-0 bg-secondary rounded ms-2"></div>
                                        <p class="text-light m-0 ms-2 all-genre">{{this.name}}</p>
                                        {{/if}}
                                        {{/each}}
                                    </div>
                                </div>
                            </div>
                            {{/each}}
                        </div>
                    </div>
                    {{/each}}
                </div>
                <button class="carousel-control-prev bg-secondary rounded-start p-1 next-prev-button" type="button"
                    data-bs-target="#carouselExampleIndicators5" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next bg-secondary rounded-end p-1 next-prev-button" type="button"
                    data-bs-target="#carouselExampleIndicators5" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>

        <div class="d-flex justify-content-center contact mb-4">
            <div>
                <div class="platforms">
                    <i class="fa-brands fa-facebook fs-2 me-3"></i>
                    <i class="fa-brands fa-instagram fs-2 me-3"></i>
                    <i class="fa-brands fa-twitter fs-2 me-3"></i>
                    <i class="fa-brands fa-youtube fs-2"></i>
                </div>
                <div class="d-flex mt-4 web-info">
                    <div>
                        <p class="fs-6 text-secondary">Audio Description</p>
                        <p class="fs-6 text-secondary">Investor Relations</p>
                        <p class="fs-6 text-secondary">Legal Notices</p>
                    </div>

                    <div>
                        <p class="fs-6 text-secondary">Help Center</p>
                        <p class="fs-6 text-secondary">Jobs</p>
                        <p class="fs-6 text-secondary">Cookie Preferences</p>
                    </div>

                    <div>
                        <p class="fs-6 text-secondary">Gift Cards</p>
                        <p class="fs-6 text-secondary">Term of Use</p>
                        <p class="fs-6 text-secondary">Corporate Information</p>
                    </div>

                    <div>
                        <p class="fs-6 text-secondary">Media Center</p>
                        <p class="fs-6 text-secondary">Privacy</p>
                        <p class="fs-6 text-secondary">Contact Us</p>
                    </div>
                </div>

                <div class="fs-6 mt-4 p-2 px-3 border border-secondary text-secondary" style="width: fit-content">
                    Service Code
                </div>

                <div class="mt-4 text-secondary">
                    <i class="fa-regular fa-copyright"></i>
                    1997-2024 Netflix, Inc.
                </div>
            </div>
        </div>

        <div class="overlay-right invisible"></div>
    </div>
</div>