{{> js/admin/crud-movie}}
<div id="screen-movie" class="container border screen-info py-1">
    <div class="d-flex align-items-center justify-content-between mt-1">
        <h4 class="m-0" style="align-self:flex-start">Movies</h4>
        <a id="open-add-movie" class="btn btn-danger m-0">Add Movie</a>
    </div>
    <hr class="mt-2">
    <div id="edit-movie" class="container d-none">
        <div class="input-group mb-3">
            <span class="input-group-text" style="width:15%" id="movie-original_title">Title</span>
            <input type="text" class="form-control" placeholder="Title" aria-label="Title" aria-describedby="movie-original_title">
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text" style="width:15%" id="movie-overview">Overview</span>
            <textarea type="text" class="form-control" placeholder="Overview" aria-label="Overview" aria-describedby="movie-overview" style="height:100px"></textarea>
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text" style="width:15%" id="movie-tagline">Tagline</span>
            <input type="text" class="form-control" placeholder="Tagline" aria-label="Tagline" aria-describedby="movie-tagline">
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text" style="width:15%" id="movie-runtime">Runtime (sec.)</span>
            <input type="text" class="form-control" placeholder="Runtime" aria-label="Runtime" aria-describedby="movie-runtime">
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text" style="width:15%" id="movie-release_date">Release Date</span>
            <input type="date" class="form-control" placeholder="Release Date" aria-label="Release Date" aria-describedby="movie-release_date">
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text" style="width:15%" id="movie-backdrop_path">Backdrop Path</span>
            <input type="text" class="form-control" placeholder="Backdrop Path" aria-label="Backdrop Path" aria-describedby="movie-backdrop_path">
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text" style="width:15%" id="movie-poster_path">Poster Path</span>
            <input type="text" class="form-control" placeholder="Poster Path" aria-label="Poster Path" aria-describedby="movie-poster_path">
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text" style="width:15%" id="movie-genres">Genres</span>
            <div class="form-control">
                <div class="row row-cols-3 ps-2">
                    {{#each genres}}
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="{{id}}" id="genre{{id}}">
                        <label class="form-check-label">{{name}}</label>
                    </div>
                    {{/each}}
                </div>
            </div>
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text" style="width:15%" id="movie-adult">Adult</span>
            <select class="form-select">
                <option value="true">Yes</option>
                <option value="false">No</option>
            </select>
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text" style="width:15%" id="movie-production_companies">Production Companies</span>
            <input type="text" class="form-control" placeholder="Production Companies" aria-label="Production Companies" aria-describedby="movie-production_companies">
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text" style="width:15%" id="movie-production_countries">Production Countries</span>
            <input type="text" class="form-control" placeholder="Production Countries" aria-label="Production Countries" aria-describedby="movie-production_countries">
        </div>
         <div class="input-group mb-3">
            <span class="input-group-text" style="width:15%" id="movie-original_language">Original Language</span>
            <input type="text" class="form-control" placeholder="Original Language" aria-label="Original Language" aria-describedby="movie-original_language" maxlength="2" onkeydown="return /[a-z]/i.test(event.key)">
        </div>
        {{!-- <div class="input-group mb-3">
            <span class="input-group-text" style="width:15%" id="movie-id_category">Danh mục</span>
            <select class="form-select">
                {{#each catalogues}}
                <option value="{{id_category}}">{{category}}</option>
                {{/each}}
            </select>
        </div> --}}
        <div class="d-flex mb-2">
            <a id="update-edit-movie" class="btn btn-primary btn-edit-movie me-2">Update Movie</a>
            <a id="delete-edit-movie" class="btn btn-primary btn-edit-movie me-2">Delete Movie</a>
            <a id="add-movie" class="btn btn-primary me-2 d-none">Add Movie</a>
            <a id="cancel-edit-movie" class="btn btn-primary">Return</a>
        </div>
    </div>
    <div id="movie-container" class="list-group list-group-container mb-3">
    </div>
    <nav id="movie-pagination" aria-label="Page Navigation">
        <ul class="pagination">
            <li class="page-item page-arrows">
                <a id="page-movie-prev" class="page-link disabled" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            {{#each pages_m}}
                <li class="page_item">
                    <a id="page-movie-{{this}}" class="page-link page-link-num page-movie {{#if @first}} active {{/if}}">{{this}}</a>
                </li>
            {{/each}}
            <li class="page-item page-arrows">
                <a id="page-movie-next" class="page-link" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>
</div>